a, li {
    text-decoration: none;
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('/img/concert-audience.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    text-align: center;
    background: #242222;
    width: 100%;
    bottom: 0;
}

.containerSlide {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    width: 95%;
}

.containerSlide img {
    margin-left: auto;
    margin-right: auto;
    height: 496px;
    width: 100%;
}

.each-slide {
    width: 100%;
}

.container-body {
    margin: 0 5rem 0 5rem;
}

.concert_title {
    margin-left: 9rem;
    color: #266E7B;
}

.card_concert {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    width: 50rem;
    color: #266E7B;
}

.card_concert button {
    margin-top: 2rem;
    display: block;
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    justify-content: center;
    background-color: rgba(38, 110, 123, 1);
    border: none;
    font: normal normal bold 14px/1.4em raleway, sans-serif;
    color: white;
    cursor: pointer;
    border-radius: 0.2rem;
}

.navBar {
    display: flex;
    margin: 0 0 3rem 0;
    background-color: #50aac5;
    box-sizing: border-box;
    box-shadow: 0 0.8rem 1.7rem black;
    color: white;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.logo {
    margin-top: 0;
    width: 5rem;
}

.menu, .menu-profile {
    padding: 2rem 0 0 2rem;
}

.menu-profile li {
    display: inline;
    margin-right: 0.5rem;
}

.menu li {
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: solid 1px;
    display: inline;
    width: 4rem;
    justify-content: space-around;
}

.navBar li:nth-child(3) {
    border: none;
}

.navBar a {
    font-weight: bold;
    transition: color 0.4s ease 0s;
    color: white;
}

.image-item {
    padding: 20px 0 20px 20px;
}

.navBar a:active {
    color: black;
}

.navBar a:hover {
    color: black;
}

.round_img {
    width: 14rem;
    height: 14rem;
    border: none;
    border-radius: 10rem;
}

.bande-user {
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.center {
    color: #266E7B;
    text-align: center;
}

.texBox input {
    width: 20rem;
    height: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    background-color: #50aac5;
    color: white;
}

.texBox ::placeholder {
    color: white;
}

.auth-model {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 10rem 2rem 10rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 20rem;
    height: 25rem;
    margin-bottom: 10rem;
}

.send-box {
    cursor: pointer;
    font: normal normal bold 14px/1.4em raleway, sans-serif;
    background-color: #266E7B;
    color: white;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
}

.send-box:hover {
    background-color: #50aac5;
    color: black;
    border: solid #266E7B;
    transition: border 0.4s, color 0.4s, background-color 0.4s
}

.error {
    color: #ff211a;

}

.blue-color {
    color: #266E7B;
}

.concert-participant {
    padding: 1rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 52rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

.concert-participant h2 {
    color: #266E7B;
}

.img-width {
    width: 52rem;
}

.buttons-concert {
    display: flex;
    justify-content: space-between;
}

.big-buttons {
    background-color: rgba(38, 110, 123, 0.6);
    color: white;
    font: normal normal 700 35px/1.4em raleway,sans-serif;
    width: 25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}

.big-buttons:hover {
    color: black;
    background-color: rgb(38, 110, 123);
    transition: color 0.4s, background-color 0.4s
}

.button-participation {
    text-align: center;
}

.button-participation button{
    background-color: rgba(0, 77, 78, 1);
    cursor: pointer !important;
    color: white;
    width: 5rem;
    font: normal normal bold 14px/1.4em raleway, sans-serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.button-participation button:hover {
    background-color: rgb(38, 110, 123);
    transition: background-color 0.7s
}
.participants-concert {
    display: flex;
    justify-content: space-around;
}

.participant-card {
    text-align: center;
    color: rgb(38, 110, 123);
}

.concert-infos {
    display: flex;
    justify-content: space-between;
}
